{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<p>{{ article.published }} by {{ article.author }}</p>
<div>
  {{ article.body | markdown }}
</div>
<div>
  <p><a href="{% url "article:article_share" article.id %}"> Share this Article</a></p>
</div>
<div>
    {% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment {{ total_comments|pluralize }}</h2>
    {% endwith %}

    {% for comment in comments %}
    <div>
        <p>Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}</p>
        <p>{{ comment.body }}</p>
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}
</div>
<div>
    {% for article in similar_articles %}
    <p><a href="{{ article.get_absolute_url }}"> {{ article.title }}</a></p>
    {% empty %}
    <p>There is no similar article.</p>
    {% endfor %}
</div>
<div>
    <h2>Add a new comment</h2>
    <form action="." method="post" class="form-horizontal">{% csrf_token %}
     <div class="form-group">
          <label class="col-sm-2 control-label">name:</label>
          <div class="col-sm-10">{{ comment_form.name }}</div>
     </div>
     <div class="form-group">
          <label class="col-sm-2 control-label">comment:</label>
          <div class="col-sm-10">{{ comment_form.body }}</div>
     </div>
     <div class="form-group">
         <div class="col-sm-offset-2 col-sm-10">
         <input type="submit" value="ADD COMMENT">
         </div>
     </div> 
    </form>
</div>
{% endblock %}
